nav {
    background-color: #fff;
    @include flexcolumn;
    font-family: $text-typo;
    
    h2{                  
        background-color: #fff;
        font-weight: 800;
        font-size: $large;
        padding: 30px 0px 20px 15px;
    }
    
    
    ul {
        background-color: #fff;
        @include flexcolumn;
        align-items: center;
        padding-bottom: 20px;
    
        li {
            background-color: $bg-color;
            margin-bottom: 20px;
            width: 270px;
            height: 60px;
            text-align: center;
            line-height: 60px;
            border-radius: $border-radius;
            background-color: lighten($color: $bg-search, $amount: 5);
            box-shadow: 0px 2px 10px $box-shadow;
            font-size: $medium;
            font-weight: $strong-text;
        }
    
        li:hover {
            background-color: lighten($color: $color-primary, $amount: 35);
            box-shadow: 0px 4px 14px $box-shadow;
            label {
                color: $color-primary;
                opacity: 100%;
            }
        }
    
        label {
            margin-right: 20px;
            opacity: 50%;
        }
    
        .li_1, .li_2, .li_3 {
            display: inline-block;
            background: $color-primary;
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            border-radius: 30px;
            color: #fff;
            margin-left: -70px;
            margin-right: 20px;
        }

        .li_2 {
            margin-left: -80px;
        }
    
    
    }
}




