body {
    background-color: $bg-color;
}

main {
    position: relative;
    bottom: 40px;
    border-radius: 30px 30px 0px 0px;
    background-color: $bg-color;
    h1 {
        font-family: $logo-typo;
        font-size: 1.5rem;
        margin: 30px 50px 30px 0px;
    }
    .heart{
        margin-top: 32px;
        margin-right: 30px;
        &:hover {
            color: $color-primary;
        }
    } 

    .starter, .main, .dessert {
        margin: 0px 0px 0px 0px;
        p {
            text-transform: uppercase;
            margin-bottom: 15px;
            border-bottom: 2px solid $color-tertiary;
            width: 40px;
            padding-bottom: 5px;
        }

        ul {
            margin-bottom: 30px;
            li {
                @include flexcolumn;
                justify-content: center;
                background-color: #fff;
                margin-bottom: 15px;
                padding: 10px 15px 0px 10px;
                width: 270px;
                height: 50px;
                line-height: 18px;
                border-radius: $border-radius;
                box-shadow: 0px 2px 10px $box-shadow;
                font-size: 1rem;
                font-weight: $strong-text;
                }
            span {
                display: flex;
                justify-content: space-between;
                font-weight: $light-text;
                font-size: $medium;
                strong {
                    font-weight: $strong-text;
                }
            }
        }
    }
    .order_btn {
        @include purple-btn;
        width: 150px;
        margin-top: 20px;
        a {
            color: #fff;
            line-height: 40px;
        }
    }
}