body {
    background-color: $bg-color;
}

main {
     position: relative;
    bottom: 40px;
    border-radius: 30px 30px 0px 0px;
    background-color: $bg-color;
    
    h1 {
        font-family: $logo-typo;
        font-size: 1.5rem;
        margin: 30px 40px 30px 0px;
    }
    
    .btn-pages {
        display: inline-block;
        @include btn-style;
        background-color: $bg-color;
        top: 30px;
        left: 260px;
        &:focus {
            @include btn-focus;
        }
    }

    .starter, .main, .dessert {
        h3 {
            text-transform: uppercase;
            margin-bottom: 15px;
            border-bottom: 2px solid $color-tertiary;
            width: 40px;
            padding-bottom: 5px;
        }

        ul {
            margin-bottom: 30px;
            
            li {
                @include flexcolumn;
                overflow: hidden;
                background-color: #fff;
                margin-bottom: 15px;
                padding: 10px 15px 0px 10px;
                width: 270px;
                height: 50px;
                line-height: 18px;
                border-radius: $border-radius;
                box-shadow: 0px 2px 10px $box-shadow;
                font-size: 1rem;
                font-weight: $strong-text;

                div {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 290px;
                    margin-top: -50px;
                    border-radius: 0px 15px 15px 0px;
                    width: 30px;
                    height: 60px;
                    color: #fff;
                    background-color: $color-tertiary;

                }    
    
                button {
                    outline: none;
                    border: none;
                    height: 45px;
                    background-color: #fff;
                    font-family: $text-typo;
                    font-weight: $strong-text;
                    text-align: left;
                    margin-left: -5px;
                    font-size: 1rem;
                } 

                i {
                    transition: 300ms;
                }
                
                span {
                    display: flex;
                    justify-content: space-between;
                    font-weight: $light-text;
                    font-size: $medium;
                    strong {
                        font-weight: $strong-text;
                        margin-right: -10px
                    }
                }

                &:hover {
                    overflow: visible;
                    
                    div {
                        margin-left: 255px;
                        animation : slideleft 300ms both ease-in-out;
            
                        
                        i {
                            transform: rotate(360deg);
                        }
                    }
                    
                    strong {
                        margin-right: 40px;
                        transition: 300ms ease-in-out;
                    }

                    span {
                        overflow: hidden;
                        height: 15px;
                        width: 250px;
                    }
                    
                    @keyframes slideleft {
                        from {
                            width: 0px;
                        }

                        to {
                            width: 50px;
                        }
                    }
                }
            }
        }
    }
    
    .order_btn {
        @include purple-btn;
        width: 150px;
        margin-top: 20px;
        a {
            color: #fff;
            line-height: 40px;
        }
    }
    
    .starter li {
        animation: fadein 1s;
            -moz-animation: fadein 1.5s; /* Firefox */
            -webkit-animation: fadein 1.5s; /* Safari et Chrome */
            -o-animation: fadein 1.5s; /* Opera */
            
            @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
            }
        }

    .main li {
        animation: fadein 1s;
            -moz-animation: fadein 3s; /* Firefox */
            -webkit-animation: fadein 3s; /* Safari et Chrome */
            -o-animation: fadein 3s; /* Opera */
            @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
            }
    }

    .dessert li {
        animation: fadein 1s;
            -moz-animation: fadein 4.5s; /* Firefox */
            -webkit-animation: fadein 4.5s; /* Safari et Chrome */
            -o-animation: fadein 4.5s; /* Opera */
            @keyframes fadein {
            from {
                opacity:0;
            }
            to {
                opacity:1;
            }
            }
    }

}