/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*HEADER*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.logo__img {
  width: 130px;
}

.search_bar {
  background-color: #e3e3e3;
  box-shadow: 0px -1px 2px #cfcfcf;
  width: 100%;
  height: 40px;
  text-align: center;
}
.search_bar .map_marker {
  line-height: 40px;
  opacity: 70%;
  margin-left: 60px;
}
.search_bar input {
  border-style: none;
  background-color: #e3e3e3;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 0.8rem;
  padding-left: 10px;
}
.search_bar input:focus {
  outline: none;
}

header h1 {
  font-family: "Roboto";
  font-weight: 800;
  font-size: 1.2rem;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

header p {
  text-align: center;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.9rem;
  margin: 10px 0px 20px 0px;
}

.explorer_btn {
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: 180px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
}
.explorer_btn a {
  font-family: "Roboto";
  color: #fff;
  font-size: 0.9rem;
  text-decoration: none;
  line-height: 37px;
}

nav {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
nav h2 {
  font-weight: 800;
  font-size: 1.1rem;
  margin: 30px 0px 20px 20px;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  background-color: #f2f2f2;
  margin-bottom: 50px;
  width: 250px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px #cfcfcf;
  font-size: 0.8rem;
  font-weight: 700;
}
nav ul li:hover {
  background-color: #e3e3e3;
}
nav ul li:hover label {
  color: #9356DC;
  opacity: 100%;
}
nav ul label {
  margin-right: 20px;
  opacity: 50%;
}
nav ul .li_1, nav ul .li_2, nav ul .li_3 {
  display: inline-block;
  background: #9356DC;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
  color: #fff;
  margin-left: -50px;
  margin-right: 20px;
}
nav ul .li_2 {
  margin-left: -60px;
}

main {
  background-color: #f2f2f2;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2 {
  align-self: flex-start;
  padding-top: 15px;
  font-weight: 800;
  font-size: 1.1rem;
  margin: 30px 0px 20px 20px;
}
main div {
  background-color: #FFF;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 15px;
}
main .new1 {
  display: block;
  text-align: center;
  line-height: 20px;
  position: absolute;
  width: 60px;
  height: 20px;
  left: 230px;
  top: 780px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #03a37c;
  background-color: #99E2D0;
}
main .new2 {
  display: block;
  text-align: center;
  line-height: 20px;
  position: absolute;
  width: 60px;
  left: 230px;
  top: 1020px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #03a37c;
  background-color: #99E2D0;
}
main img {
  width: 280px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
main figure {
  border-radius: 15px;
  box-shadow: 0px 2px 10px #cfcfcf;
}
main figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  height: 60px;
  color: black;
  font-weight: 300;
}
main a {
  text-decoration: none;
}
main span {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 1rem;
}
main i {
  font-size: 1.3rem;
  margin-right: 15px;
  align-self: flex-end;
  position: absolute;
}
main i:hover {
  color: #9356DC;
}

footer {
  font-family: "Roboto";
  background-color: #303030;
  color: #fff;
  height: 150px;
  padding: 20px 0px 0px 20px;
}
footer h3 {
  font-family: "Shrikhand";
  margin-bottom: 15px;
}
footer li {
  font-size: 0.9rem;
  margin-bottom: 12px;
}
footer li i {
  font-size: 10px;
  margin-right: 10px;
}
footer a {
  color: #FFF;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
