/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Background colors*/
/*Text styles*/
/*Breakpoint*/
/*HEADER*/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  font-family: "Roboto";
}

.logo {
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.logo__img {
  width: 130px;
}

.search_bar {
  background-color: #e3e3e3;
  box-shadow: 0px -1px 2px #cfcfcf;
  width: 100%;
  height: 40px;
  text-align: center;
}
.search_bar .map_marker {
  line-height: 40px;
  opacity: 70%;
  margin-left: 60px;
}
.search_bar input {
  border-style: none;
  background-color: #e3e3e3;
  font-weight: 700;
  font-size: 0.8rem;
  padding-left: 10px;
}
.search_bar input:focus {
  outline: none;
}

header h1 {
  font-weight: 800;
  font-size: 1.2rem;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

header p {
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 10px 0px 20px 0px;
}

.explorer_btn {
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: 180px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
}
.explorer_btn a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  line-height: 37px;
}

nav {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
nav h2 {
  font-weight: 800;
  font-size: 1.1rem;
  margin: 30px 0px 20px 20px;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  background-color: #f2f2f2;
  margin-bottom: 50px;
  width: 250px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #cfcfcf;
  font-size: 0.8rem;
  font-weight: 700;
}
nav ul li:hover {
  background-color: #e3e3e3;
}
nav ul li:hover label {
  color: #9356DC;
  opacity: 100%;
}
nav ul label {
  margin-right: 20px;
  opacity: 50%;
}
nav ul .li_1, nav ul .li_2, nav ul .li_3 {
  display: inline-block;
  background: #9356DC;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
  color: #fff;
  margin-left: -50px;
  margin-right: 20px;
}
nav ul .li_2 {
  margin-left: -60px;
}

main {
  background-color: #f2f2f2;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h2 {
  font-weight: 800;
  font-size: 1.1rem;
  margin: 30px 0px 20px 20px;
  align-self: flex-start;
  padding-top: 15px;
  margin-left: 0px;
}
main div {
  background-color: #FFF;
  margin-bottom: 20px;
  width: 280px;
  border-radius: 15px;
}
main .new1, main .new2 {
  text-align: center;
  line-height: 20px;
  position: absolute;
  width: 60px;
  height: 20px;
  left: 230px;
  top: 100px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #2c9c81;
  background-color: #99E2D0;
}
main .new2 {
  left: 230px;
  top: 345px;
}
main img {
  width: 280px;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
main figure {
  border-radius: 15px;
  box-shadow: 0px 2px 10px #cfcfcf;
}
main figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  height: 60px;
  color: black;
  font-weight: 300;
}
main a {
  text-decoration: none;
}
main span {
  font-weight: 700;
  margin-bottom: 5px;
}
main i {
  font-size: 1.3rem;
  margin-right: 15px;
  align-self: flex-end;
  position: absolute;
}
main i:hover {
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

footer {
  font-family: "Roboto";
  background-color: #303030;
  color: #fff;
  height: 140px;
  padding: 20px 0px 0px 20px;
}
footer h3 {
  font-family: "Shrikhand";
  margin-bottom: 15px;
}
footer li {
  font-size: 0.8rem;
  margin-bottom: 12px;
}
footer li i {
  font-size: 0.7rem;
  margin-right: 10px;
}
footer a {
  color: #FFF;
  text-decoration: none;
}

/* Pages */
header .logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
header .logo a {
  text-decoration: none;
  color: black;
  opacity: 80%;
}
header .logo a .return_arrow {
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
  right: 60px;
}
header .meal {
  width: 320px;
}

body {
  background-color: #f2f2f2;
}

main {
  position: relative;
  bottom: 40px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f2f2f2;
}
main h1 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  margin: 30px 40px 30px 0px;
}
main .heart {
  margin-top: 32px;
  margin-right: 30px;
}
main .heart:hover {
  color: #9356DC;
}
main .starter h3, main .main h3, main .dessert h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}
main .starter ul, main .main ul, main .dessert ul {
  margin-bottom: 30px;
}
main .starter ul li, main .main ul li, main .dessert ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px 15px 0px 10px;
  width: 270px;
  height: 50px;
  line-height: 18px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #cfcfcf;
  font-size: 1rem;
  font-weight: 700;
}
main .starter ul li:hover, main .main ul li:hover, main .dessert ul li:hover {
  box-shadow: 5px 5px 5px #e3e3e3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transform: scale(1.02);
}
main .starter ul span, main .main ul span, main .dessert ul span {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8rem;
}
main .starter ul span strong, main .main ul span strong, main .dessert ul span strong {
  font-weight: 700;
}
main .order_btn {
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  width: 180px;
  height: 40px;
  border-radius: 30px;
  text-align: center;
  width: 150px;
  margin-top: 20px;
}
main .order_btn a {
  color: #fff;
  line-height: 40px;
}

@media screen and (min-width: 768px) {
  nav {
    margin-top: -20;
  }
  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  nav ul li {
    width: 200px;
    padding-right: 20px;
  }
  nav ul li label {
    margin-left: 15px;
  }
  nav ul li .li_2 {
    margin-left: -20px;
    margin-right: -5px;
  }
  nav ul li .li_1 {
    margin-left: -15px;
    margin-right: -5px;
  }
  nav ul li .li_3 {
    margin-left: -13px;
    margin-right: -5px;
  }
  nav main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
header .meal {
  object-fit: cover;
  height: 200px;
}

main h1 {
  width: 250px;
}

/*# sourceMappingURL=style.css.map */
