/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Background colors*/
/*Text styles*/
/*Breakpoint*/
/*HEADER*/
body .loader {
  overflow: hidden;
  position: absolute;
  border: 16px solid #f3f3f3;
  border-top: 16px solid #9356DC;
  border-radius: 50%;
  left: 90px;
  top: 370px;
  width: 120px;
  height: 120px;
  animation: spin 1.1s linear 2 both;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 100%;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0%;
  }
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  font-family: "Roboto";
}

.index {
  margin: auto;
  background-color: #f2f2f2;
  animation: loader 3s;
}
@keyframes loader {
  0% {
    opacity: 0%;
  }
  30% {
    opacity: 0%;
  }
  60% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.logo {
  text-align: center;
  margin: 10px 0px 10px 0px;
}
.logo__img {
  width: 130px;
}

.search_bar {
  background-color: #e3e3e3;
  box-shadow: 0px -1px 2px #cfcfcf;
  width: 100%;
  height: 40px;
  text-align: center;
}
.search_bar .map_marker {
  line-height: 40px;
  opacity: 70%;
  margin-left: 60px;
}
.search_bar input {
  border-style: none;
  background-color: #e3e3e3;
  font-weight: 700;
  font-size: 0.8rem;
  padding-left: 10px;
}
.search_bar input:focus {
  outline: none;
}

header h1 {
  font-weight: 800;
  font-size: 1.2rem;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

header p {
  text-align: center;
  font-weight: 300;
  font-size: 0.9rem;
  margin: 10px 0px 20px 0px;
}

.explorer_btn {
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  height: 40px;
  border-radius: 30px;
  text-align: center;
  width: 150px;
}
.explorer_btn a {
  color: #fff;
  font-size: 0.8rem;
  text-decoration: none;
  line-height: 37px;
}

nav {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
}
nav h2 {
  font-weight: 800;
  font-size: 1.1rem;
  margin: 30px 0px 20px 20px;
}
nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav ul li {
  background-color: #f2f2f2;
  margin-bottom: 50px;
  width: 250px;
  height: 60px;
  text-align: center;
  line-height: 60px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #cfcfcf;
  font-size: 0.8rem;
  font-weight: 700;
}
nav ul li:hover {
  background-color: #e3e3e3;
}
nav ul li:hover label {
  color: #9356DC;
  opacity: 100%;
}
nav ul label {
  margin-right: 20px;
  opacity: 50%;
}
nav ul .li_1, nav ul .li_2, nav ul .li_3 {
  display: inline-block;
  background: #9356DC;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 30px;
  color: #fff;
  margin-left: -50px;
  margin-right: 20px;
}
nav ul .li_2 {
  margin-left: -60px;
}

body {
  margin: auto;
  background-color: #f2f2f2;
}

main {
  background-color: #f2f2f2;
  font-family: "Roboto";
  align-items: center;
  padding: 0px 15px 0px 15px;
}
main h2 {
  font-weight: 800;
  font-size: 1.1rem;
  margin: 30px 0px 20px 20px;
}
main div {
  background-color: #FFF;
  margin-bottom: 20px;
  border-radius: 15px;
}
main .new1, main .new2 {
  text-align: center;
  line-height: 20px;
  position: absolute;
  width: 60px;
  height: 20px;
  left: 230px;
  top: 50px;
  font-size: 0.7rem;
  font-weight: 700;
  color: #2c9c81;
  background-color: #99E2D0;
}
main .new2 {
  left: 230px;
  top: 295px;
}
main img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
main figure {
  border-radius: 15px;
  box-shadow: 0px 2px 10px #cfcfcf;
}
main figcaption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  height: 60px;
  color: black;
  font-weight: 300;
}
main a {
  text-decoration: none;
}
main span {
  font-weight: 700;
  margin-bottom: 5px;
}
main .btn1, main .btn2, main .btn3, main .btn4 {
  background-color: #f2f2f2;
  font-size: 1.3rem;
  border: none;
  outline: none;
  position: absolute;
  background-color: #fff;
  top: 220px;
  left: 250px;
}
main .btn1:hover i, main .btn2:hover i, main .btn3:hover i, main .btn4:hover i {
  background-color: #fff;
  outline: none;
  border: none;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: progr 400ms ease-in both;
}
@keyframes progr {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}
main .btn1:active, main .btn2:active, main .btn3:active, main .btn4:active {
  background-color: #fff;
}
main .btn2 {
  top: 465px;
}
main .btn3 {
  top: 705px;
}
main .btn4 {
  top: 950px;
}

footer {
  font-family: "Roboto";
  background-color: #303030;
  color: #fff;
  height: 140px;
  padding: 20px 0px 0px 20px;
}
footer h3 {
  font-family: "Shrikhand";
  margin-bottom: 15px;
}
footer li {
  font-size: 0.8rem;
  margin-bottom: 12px;
}
footer li i {
  font-size: 0.7rem;
  margin-right: 10px;
}
footer a {
  color: #FFF;
  text-decoration: none;
}

/* Pages */
header .logo {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
header .logo a {
  text-decoration: none;
  color: black;
  opacity: 80%;
}
header .logo a .return_arrow {
  font-size: 1.1rem;
  font-weight: 700;
  position: relative;
  right: 60px;
}
header .meal {
  width: 320px;
}

pages-main body {
  background-color: #f2f2f2;
}

header .meal {
  width: 100%;
}

main {
  position: relative;
  bottom: 40px;
  border-radius: 30px 30px 0px 0px;
  background-color: #f2f2f2;
}
main h1 {
  font-family: "Shrikhand";
  font-size: 1.5rem;
  margin: 0px 40px 30px 0px;
  padding-top: 20px;
}
main .btn-pages {
  background-color: #f2f2f2;
  float: right;
  margin-top: -55px;
  background-color: #f2f2f2;
  font-size: 1.3rem;
  border: none;
  outline: none;
}
main .btn-pages:hover i {
  background-color: #fff;
  outline: none;
  border: none;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  animation: progr 400ms ease-in both;
}
@keyframes progr {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}
main .starter h3, main .main h3, main .dessert h3 {
  text-transform: uppercase;
  margin-bottom: 15px;
  border-bottom: 2px solid #99E2D0;
  width: 40px;
  padding-bottom: 5px;
}
main .starter ul, main .main ul, main .dessert ul {
  margin-bottom: 30px;
}
main .starter ul li, main .main ul li, main .dessert ul li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 15px;
  padding: 10px 15px 0px 10px;
  height: 50px;
  line-height: 18px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px #cfcfcf;
  font-size: 1rem;
  font-family: "Roboto";
}
main .starter ul li button, main .main ul li button, main .dessert ul li button {
  outline: none;
  border: none;
  height: 45px;
  background-color: #fff;
  font-family: "Roboto";
  font-weight: 700;
  text-align: left;
  margin-left: -5px;
  font-size: 1rem;
}
main .starter ul li button .checkmark, main .main ul li button .checkmark, main .dessert ul li button .checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: -15000px;
  margin-top: -50px;
  background-color: #99E2D0;
  color: #fff;
  border-radius: 0px 15px 15px 0px;
  height: 61px;
  width: 50px;
}
main .starter ul li button .checkmark2, main .main ul li button .checkmark2, main .dessert ul li button .checkmark2 {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: -15000px;
  margin-top: -50px;
  background-color: #99E2D0;
  color: #fff;
  border-radius: 0px 15px 15px 0px;
  height: 61px;
  width: 50px;
}
main .starter ul li span, main .main ul li span, main .dessert ul li span {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.8rem;
}
main .starter ul li span strong, main .main ul li span strong, main .dessert ul li span strong {
  font-weight: 700;
  margin-right: -10px;
  height: 20px;
}
main .starter ul li .suspension, main .main ul li .suspension, main .dessert ul li .suspension {
  overflow: hidden;
  margin-left: 100px;
  width: 10px;
  height: 10px;
}
main .starter ul li .susp, main .main ul li .susp, main .dessert ul li .susp {
  overflow: hidden;
  margin-top: 1500px;
  width: 10px;
  height: 10px;
}
main .starter ul li .name, main .main ul li .name, main .dessert ul li .name {
  font-weight: 700;
  font-size: 1rem;
}
main .starter ul li:hover, main .main ul li:hover, main .dessert ul li:hover {
  box-shadow: #cfcfcf;
  overflow: visible;
}
main .starter ul li:hover .checkmark, main .main ul li:hover .checkmark, main .dessert ul li:hover .checkmark {
  margin-right: -23px;
  margin-top: -55px;
  animation: slideleft 300ms both;
  animation-timing-function: ease-in-out;
}
main .starter ul li:hover .checkmark i, main .main ul li:hover .checkmark i, main .dessert ul li:hover .checkmark i {
  transform: rotate(360deg);
  transition: 400ms;
}
main .starter ul li:hover .checkmark2, main .main ul li:hover .checkmark2, main .dessert ul li:hover .checkmark2 {
  margin-right: -23px;
  margin-top: -50px;
  animation: slideleft 300ms;
  animation-timing-function: ease-in-out;
}
main .starter ul li:hover .checkmark2 i, main .main ul li:hover .checkmark2 i, main .dessert ul li:hover .checkmark2 i {
  transform: rotate(360deg);
  transition: 400ms;
}
main .starter ul li:hover strong, main .main ul li:hover strong, main .dessert ul li:hover strong {
  margin: 0px 40px 0px -80px;
  transition: 300ms;
}
main .starter ul li:hover .suspension, main .main ul li:hover .suspension, main .dessert ul li:hover .suspension {
  overflow: visible;
  transition: 300ms;
  animation: opacity 1s both;
  margin-left: 10px;
  height: 10px;
}
main .starter ul li:hover .susp, main .main ul li:hover .susp, main .dessert ul li:hover .susp {
  overflow: visible;
  transition: 300ms;
  animation: opacity 1s both;
  margin-left: 10px;
  padding-right: 45px;
}
main .starter ul li:hover .regular_text, main .main ul li:hover .regular_text, main .dessert ul li:hover .regular_text {
  overflow: hidden;
  height: 15px;
}
main .starter ul li:hover .name, main .main ul li:hover .name, main .dessert ul li:hover .name {
  overflow: hidden;
  height: 19px;
  width: 140px;
}
@keyframes slideleft {
  0% {
    width: 0px;
  }
  100% {
    width: 50px;
  }
}
@keyframes opacity {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
main .order_btn {
  margin-bottom: 30px;
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  height: 40px;
  border-radius: 30px;
  text-align: center;
  width: 150px;
  margin-left: 70px;
}
main .order_btn a {
  color: #fff;
  line-height: 40px;
}
main .starter li {
  animation: fadein 1s;
  -moz-animation: fadein 1.5s;
  /* Firefox */
  -webkit-animation: fadein 1.5s;
  /* Safari et Chrome */
  -o-animation: fadein 1.5s;
  /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .main li {
  animation: fadein 1s;
  -moz-animation: fadein 3s;
  /* Firefox */
  -webkit-animation: fadein 3s;
  /* Safari et Chrome */
  -o-animation: fadein 3s;
  /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
main .dessert li {
  animation: fadein 1s;
  -moz-animation: fadein 4.5s;
  /* Firefox */
  -webkit-animation: fadein 4.5s;
  /* Safari et Chrome */
  -o-animation: fadein 4.5s;
  /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 768px) {
  body {
    width: 768px;
    margin: auto;
  }
  body .loader {
    left: 320px;
  }

  nav h2 {
    margin-left: 25px;
  }
  nav ul {
    width: 720px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 25px;
    margin-bottom: 80px;
  }
  nav ul li {
    width: 200px;
    padding-right: 20px;
  }
  nav ul li label {
    margin-left: 15px;
  }
  nav ul li .li_2 {
    margin-left: -20px;
    margin-right: -5px;
  }
  nav ul li .li_1 {
    margin-left: -15px;
    margin-right: -5px;
  }
  nav ul li .li_3 {
    margin-left: -13px;
    margin-right: -5px;
  }

  main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main section h2 {
    margin-top: -55px;
    margin-left: 25px;
  }
  main section div {
    width: 330px;
    margin-bottom: 50px;
  }
  main section div img {
    width: 100%;
  }
  main section .palette-du-gout {
    margin-left: -125px;
    margin-right: 21px;
  }
  main section .la-note {
    margin-right: 15px;
    margin-left: 0px;
  }
  main section .new1 {
    top: 20px;
    left: 280px;
  }
  main section .new2 {
    top: 20px;
    left: 660px;
  }
  main section .btn1 {
    top: 180px;
    left: 300px;
  }
  main section .btn2 {
    top: 180px;
    left: 680px;
  }
  main section .btn3 {
    top: 450px;
    left: 300px;
  }
  main section .btn4 {
    top: 450px;
    left: 680px;
  }

  footer {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  footer ul {
    display: flex;
    justify-content: center;
  }
  footer ul li {
    padding-right: 60px;
  }
}
@media screen and (min-width: 768px) {
  header .meal {
    width: 768px;
  }
  header .return_arrow {
    position: absolute;
    left: -280px;
  }

  main h1 {
    margin-left: 150px;
  }
  main h3 {
    margin-left: 150px;
  }
  main .starter, main .main, main .dessert {
    display: flex;
    flex-direction: column;
  }
  main .starter ul, main .main ul, main .dessert ul {
    padding: 0px 150px 0px 150px;
  }
  main .starter ul li:hover .susp, main .starter ul li:hover .suspension, main .main ul li:hover .susp, main .main ul li:hover .suspension, main .dessert ul li:hover .susp, main .dessert ul li:hover .suspension {
    display: none;
  }
  main .starter ul li:hover .name, main .main ul li:hover .name, main .dessert ul li:hover .name {
    overflow: visible;
    width: 300px;
  }
  main .btn-pages {
    margin-right: 150px;
  }
  main .order_btn {
    margin-left: 300px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    width: 1440px;
    margin: auto;
  }
  body .loader {
    left: 615px;
    top: 350px;
    width: 200px;
    height: 200px;
    border: 25px solid #f3f3f3;
    border-top: 25px solid #9356DC;
  }

  nav {
    padding-right: 150px;
    padding-left: 150px;
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }
  nav h2 {
    margin-bottom: 30px;
    margin-left: 0px;
  }
  nav ul {
    width: 1000px;
    margin-left: -70px;
  }
  nav li {
    margin-left: 80px;
  }

  main section h2 {
    position: absolute;
    margin-left: 0px;
    padding-top: 20px;
  }
  main section div {
    width: 450px;
    height: 350px;
    margin-right: 30px;
    margin-top: 10px;
  }
  main section div img {
    width: 100%;
    height: 280px;
  }
  main section div figure {
    height: 350px;
  }
  main section .palette-du-gout {
    margin-left: 20px;
  }
  main section .francaise {
    margin-left: 32px;
  }
  main section .delice {
    margin-left: 10px;
  }
  main section .new1 {
    width: 80px;
    height: 30px;
    font-size: 0.9rem;
    line-height: 30px;
    left: 570px;
    top: 30px;
  }
  main section .new2 {
    width: 80px;
    height: 30px;
    font-size: 0.9rem;
    line-height: 30px;
    left: 1130px;
    top: 30px;
  }
  main section i {
    font-size: 1.5rem;
    margin-right: 15px;
    align-self: flex-end;
    position: absolute;
  }
  main section i:hover {
    background: linear-gradient(to top, #FF79DA, #9356DC);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }
  main section .btn1 {
    top: 310px;
    left: 600px;
  }
  main section .btn2 {
    top: 310px;
    left: 1170px;
  }
  main section .btn3 {
    top: 720px;
    left: 600px;
  }
  main section .btn4 {
    top: 720px;
    left: 1170px;
  }
}
@media screen and (min-width: 1440px) {
  body {
    margin: auto;
  }

  header .meal {
    width: 1440px;
    object-fit: contain;
  }
  header .return_arrow {
    position: absolute;
    left: -600px;
  }

  main {
    display: flex;
    flex-direction: column;
    padding: 0px 150px 0px 150px;
  }
  main h1 {
    margin-left: -430px;
  }
  main .btn-pages {
    position: absolute;
    margin-top: 20px;
    right: 210px;
  }
  main ul li {
    width: 700px;
  }
  main ul li .checkmark {
    margin-bottom: -10px;
  }
  main ul li i {
    font-size: 1em;
    margin-left: 15px;
    margin-bottom: 25px;
  }
  main .order_btn {
    margin-left: -20px;
  }

  footer {
    height: 150px;
  }
  footer h3 {
    margin-bottom: 30px;
  }

  /* main {
      i {
      font-size: 1.3rem;
      margin-right: 15px;
      align-self: flex-end;
      position: absolute;
      &:hover {
          background: linear-gradient(to top,$color-secondary, $color-primary);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-weight: bold;
              }
  }
  } */
}
header .meal {
  object-fit: cover;
  height: 200px;
}

main h1 {
  width: 250px;
}

/*# sourceMappingURL=style.css.map */
