@media screen and (min-width: map-get($breakpoints, desktop)) {
    body {
        width: 1440px;
        margin: auto;
    }

    nav {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        h2 {
            margin-bottom: 30px;
            margin-left: 0px;
        }
        
        ul {
            width: 1000px;
            margin-left: -70px;
        }
        li {
            margin-left: 80px;
        }
    }

    main { 
        display: flex;
        padding-left: 70px;
        section {

            h2 {
                position: absolute;
                margin-left: -140px;
            }

            div {
                width: 300px;
                margin-right: 50px;
                margin-top: 10px;
                img {
                    width: 300px;
                }
            }

            .la-note {
                margin-right: 50px;
            }

            .new1 {
                left: 270px;
                top: 30px;
            }

            .new2 {
                left: 620px;
                top: 30px;
            }

            i {
        font-size: 1.3rem;
        margin-right: 15px;
        align-self: flex-end;
        position: absolute;
        &:hover {
            background: linear-gradient(to top,$color-secondary, $color-primary);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bold;
        }
    }

            .btn1 {
                top: 190px;

            }

            .btn2 {
                top: 190px;
                left: 650px;
            }

            .btn3 {
                top: 190px;
                left: 1000px;
            }

            .btn4 {
                top: 190px;
                left: 1350px;
            }
        }
    }

}