@media screen and (min-width: map-get($breakpoints, desktop)) {
    body {
        width: 1440px;
        margin: auto;
    }

    nav {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        h2 {
            margin-bottom: 30px;
            margin-left: 0px;
        }
        
        ul {
            width: 1000px;
            margin-left: -70px;
        }
        li {
            margin-left: 80px;
        }
    }

    main { 
        display: flex;
        padding-left: 70px;
        section {

            h2 {
                position: absolute;
                margin-left: -140px;
            }

            div {
                width: 300px;
                margin-right: 50px;
                margin-top: 10px;
                img {
                    width: 300px;
                }
            }

            .la-note {
                margin-right: 50px;
            }

            .new1 {
                left: 270px;
                top: 30px;
            }

            .new2 {
                left: 620px;
                top: 30px;
            }
        }
    }

}