@media screen and (min-width: map-get($breakpoints, tablet)) {

    header {
        .meal {
            width: 768px;
        }
        .return_arrow { 
        }
        .return_arrow {
            position: absolute;
            left: -280px;
        }
    }
    
    main {
        .starter, .main, .dessert {
        display: flex;
        flex-direction: column;
    }
    .btn-pages {
        top: 30px;
        left: 485px;
    }
    }
    }
